/* Write your CSS here */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

.mode-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mode-container {
  text-align: center;
  border-radius: 8px;
  padding: 28px;
}

.mode-heading {
  font-size: 36px;
  font-weight: 'Roboto';
}

.dark-mode {
  color: #ffffff;
  background-color: #000000;
}

.light-mode {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.button {
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 12px;
}
